# Anonimization

- pseudonymization

In [14]:
import hashlib as hl

string_to_hash = "supersäkert_lösenord".encode()
string_to_hash2 = "Supersäkert_lösenord".encode()

hl.sha256(string_to_hash).hexdigest(), hl.sha256(string_to_hash2).hexdigest()

('f32c4b422dac016699a3bb79c8db21937f0918ffec624a0c18a31789064db61c',
 'bbe88abc50b23b928297f592127b87a8e1cc8f128358894dd468eea7d98fc8b1')

In [15]:
hl.sha256(string_to_hash).hexdigest() == hl.sha256("supersäkert_lösenord".encode()).hexdigest()

True

# Example with Pandas

In [22]:
import pandas as pd

df= pd.read_csv("BankChurners.csv", usecols = ["CLIENTNUM", "Attrition_Flag", "Customer_Age", "Gender", "Total_Trans_Amt"])
df.head()

   CLIENTNUM     Attrition_Flag  Customer_Age Gender  Total_Trans_Amt
0  768805383  Existing Customer            45      M             1144
1  818770008  Existing Customer            49      F             1291
2  713982108  Existing Customer            51      M             1887
3  769911858  Existing Customer            40      F             1171
4  709106358  Existing Customer            40      M              816

In [23]:
df["CLIENTNUM"]

0        768805383
1        818770008
2        713982108
3        769911858
4        709106358
           ...
10122    772366833
10123    710638233
10124    716506083
10125    717406983
10126    714337233
Name: CLIENTNUM, Length: 10127, dtype: int64

In [25]:
df["CLIENTNUM"] = df["CLIENTNUM"].astype(str)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CLIENTNUM        10127 non-null  object
 1   Attrition_Flag   10127 non-null  object
 2   Customer_Age     10127 non-null  int64
 3   Gender           10127 non-null  object
 4   Total_Trans_Amt  10127 non-null  int64
dtypes: int64(2), object(3)
memory usage: 395.7+ KB

In [27]:
hashes_clientnum = df["CLIENTNUM"].apply(lambda x: hl.sha256(x.encode()).hexdigest()) # .apply() is a method that applies a function to each row in a column
hashes_clientnum.head()

0    c9bbef56f9d8292cb3cfa8ae91f9b9167390e6e4b514d5...
1    7996e2340d70489252370a5df035ec99381c8344cc3511...
2    6fb53dbc743724e086243b5bc288df62b4a6dc1b8bde92...
3    f86b86a1047317685f29c399059b199858685faf5ec6a8...
4    0d239470b0cb57e110cf60bc3865344ee2cdced6e3acdc...
Name: CLIENTNUM, dtype: object

In [28]:
df.insert(1, "Hash_clientnum", hashes_clientnum)
df.head()

,CLIENTNUM,Hash_clientnum,Attrition_Flag,Customer_Age,Gender,Total_Trans_Amt
0,768805383,c9bbef56f9d8292cb3cfa8ae91f9b9167390e6e4b514d5...,Existing Customer,45,M,1144
1,818770008,7996e2340d70489252370a5df035ec99381c8344cc3511...,Existing Customer,49,F,1291
2,713982108,6fb53dbc743724e086243b5bc288df62b4a6dc1b8bde92...,Existing Customer,51,M,1887
3,769911858,f86b86a1047317685f29c399059b199858685faf5ec6a8...,Existing Customer,40,F,1171
4,709106358,0d239470b0cb57e110cf60bc3865344ee2cdced6e3acdc...,Existing Customer,40,M,816