## 1. Cities in Sweden - create dataset

In [29]:
import pandas as pd

swedish_cities = {"Kommun": ["Malmö", "Stockholm", "Uppsala", "Göteborg"], "Population": [347949, 975551, 233839, 583056]}
df = pd.DataFrame(swedish_cities)
print(df)

      Kommun  Population
0      Malmö      347949
1  Stockholm      975551
2    Uppsala      233839
3   Göteborg      583056

In [30]:
df_kommun = df["Kommun"]
df_kommun

0        Malmö
1    Stockholm
2      Uppsala
3     Göteborg
Name: Kommun, dtype: object

In [31]:
df_gothenburg = df.loc[df['Kommun'] == 'Göteborg']
df_gothenburg

     Kommun  Population
3  Göteborg      583056

In [32]:
df_sorted = df.sort_values(by="Population", ascending= False)
print(df_sorted)

      Kommun  Population
1  Stockholm      975551
3   Göteborg      583056
0      Malmö      347949
2    Uppsala      233839

In [33]:
df_largest = df_sorted.iloc[:3]
print(df_largest)

      Kommun  Population
1  Stockholm      975551
3   Göteborg      583056
0      Malmö      347949

In [34]:
df_sorted["Population %"] = round(df_sorted["Population"] / 10379295 * 100, 1)
print(df_sorted)

      Kommun  Population  Population %
1  Stockholm      975551           9.4
3   Göteborg      583056           5.6
0      Malmö      347949           3.4
2    Uppsala      233839           2.3

## 2. Cities in Sweden - real dataset